<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <section class="section">
          <div class="container">
            <h1 class="title">
              <%= title %>
            </h1>
            <p class="subtitle">
              Sign-up and Login Express REST API app
            </p>
              Coded by: <a href="https://arnelimperial.bitbucket.io">Arnel Imperial</a>
            </p>
          </div>
        </section>
    

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </body>
</html>
